* {
    box-sizing: border-box;
    font-family: 'Share';
    padding: 0;
    margin: 0;
}

.container{
    padding-top: 1vw;
    display: grid;
    grid-template-columns: 300px 1fr;
}

/* Navigation.jsx */

a{
    text-decoration: none;
    color: #000;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: 600; 
}

.navigation{
    display: flex;
    max-height: 99vh;
}

nav > ul{
padding-left: 2vw;
}

.logo {
    width: 100%;
}

.nav-sup{
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-transform: uppercase;
}

.nav-avg{
    font-size: 1.1rem;
    line-height: 1.4rem;
    padding-left: 1vw;
}

.nav-sub{
    font-size: 1rem;
    line-height: 1.4rem;
    padding-left: 1vw;
}

.nav-avg:first-of-type, .nav-sub:first-of-type{
    padding-top: 1vh;
}

.nav-avg:last-of-type, .nav-sub:last-of-type{
    padding-bottom: 1vh;
}

p{
    line-height: 120%;
    
}

.logo {
    padding-bottom: 2vw;
}

/* Navigation.jsx */

/* Gallery.jsx */

.gallery {
    width: 100%;
    column-count: 2;
    column-gap: 0;
    padding-right: 2vw;
}

h2 {
    width: 100%;
    text-align: center;  
    padding-right: 5vw; 
    padding-bottom: 2vw; 
}

.gallery-item img {
    width: 100%;;
    padding-bottom: 3vw;
    padding-right: 3vw;
    height: auto;
}

.gallery-item img:hover {
    opacity: 0.5;
}

.italic {
    font-style: italic;
}

.italic:hover {
    opacity: 0.5;
}

/* end of Gallery.jsx */

/*   ModalSwitch.jsx */

.modal-container{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1vw;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    opacity: 1;
    animation: open .5s ease;
}

@keyframes open {
    from {
        display: none;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
    padding: 1vw;
}

.modal-img{
    max-width: 96vw;
    max-height: 96vh;
}

.img-button {
    position: fixed;
    padding: 8px 20px;
    font-size: 2rem;
    font-weight: 800;
    color: #fff;
    background-color: #34363a;
    outline: none;
    border: none;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
}

.img-button:hover{
    background-color: #424f63;
}

.close{
    right: 1vw;
    top: 1vw;
}

.arrow-right{
    top: 50%;
    right: 1vw;
}

.arrow-left{
    top: 50%;
    left: 1vw;
}

/*   end of ModalSwitch.jsx */

/* Contact.jsx */

.contact-content{
    padding: 0 6vw;
}

.content-item {
    padding: 0 3vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2vw 0;
    
}

.form-group{
    flex-grow: 1;
    min-width: calc(33vw - 75px);
    padding: 1vw 3vw;
}

.grid-2 {
    flex-grow: 2;
    min-width: calc(66vw - 150px);
}

input, textarea{
    padding: 0.5vw;
    width: 100%;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
}

textarea {
    resize: none;
    height: 8em;
}

[name=checkbox] {
    width: 16px;
}

label {
    display: block;
}

label:last-child{
    display: inline;
}

.btn {
    padding: 8px 20px;
    font-size: 1.2rem;
    font-weight: 800;
    color: #fff;
    background-color: #34363a;
    outline: none;
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: #424f63;
}

/* end of Contact.jsx */

@media screen and (max-width: 768px) {
    .container{
        grid-template-columns: 200px 1fr;
    }

    .gallery {
        column-count: 1;
    }

    .gallery-item img {
        width: calc(97vw - 200px);
    }
    h2 {
        padding-right: 6vw;
    }
    
    .form-group{
        min-width: calc(75vw - 150px);
    }
}
